<div class="row collapse cal-month-row">
	<div class="cal-1 column"><a {{action "previousMonth"}}>&laquo;</a></div>
	<div class="cal-5 column">{{fullMonth visibleMonth}} {{visibleYear}}</div>
	<div class="cal-1 column"><a {{action "nextMonth"}}>&raquo;</a></div>
</div>

<div class="row collapse cal-dow-row">
	<div class="cal-1 column">Su</div>
	<div class="cal-1 column">Mo</div>
	<div class="cal-1 column">Tu</div>
	<div class="cal-1 column">We</div>
	<div class="cal-1 column">Th</div>
	<div class="cal-1 column">Fr</div>
	<div class="cal-1 column">Sa</div>
</div>

{{#each weeks}}
	<div class="row collapse">
		{{#each}}
			<div {{bind-attr class=":cal-1 :column currentMonth:cal-day:cal-day-off selected:cal-day-selected"}} {{action "select" value}}>{{date}}</div>
		{{/each}}
	</div>
{{/each}}
