{{render "activityInput"}}

{{#each groupByDay}}
	<div class="row day">
		<div class="small-2 columns">
			<h4>{{logDate day}}</h4>
		</div>
		<div class="small-10 columns">
			<ul class="no-bullet">
				{{#each activities itemController="activity"}}
					{{#if isEditing}}
						<li class="activity">{{input value=text}}</li>
					{{else}}
						<li class="activity" {{action 'edit'}}>{{text}}</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
{{/each}}
